.chapters-container {
    padding: 1rem 0.7rem;
    display: flex;
    position: fixed;
    width: 100%;
    /* top: 91%; */
    left: 0;
    bottom: 0;
    justify-content: space-between;
    border-top: 0.1rem solid #999;
    background-color: #fff;
}

.chap-link {
    display: block;
    text-decoration: none;
}

.chap-link > img {
    display: block;
    width: 100%;
    min-height: 100%;
}
