.post {
    padding-bottom: 3.7rem;
}

.post-top {
    padding: 0rem 0.3rem 0.5rem 0rem;
    margin-bottom: 0.3rem;
    border-bottom: 0.1rem solid #999;
}

.post-top > img {
    display: block;
}

.post-container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.3rem;
}

.post-container > header > img {
    display: block;
    max-width: 2rem;
    height: auto;
    border-radius: 50%;
}

.post-container > header > p {
    text-align: center;
}

.post-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}

.post-info > span > img {
    display: block;
    cursor: pointer;
}

.post-info > span {
    padding: 0.3rem;
    border-radius: 0.25rem;
}

.comments {
    border-top: 0.1rem solid #999;
    padding: 0.5rem 0rem 0.5rem 1.7rem;
}

.comment-input {
    width: 80%;
}

.add-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.2rem;
}

.add-comment > input {
    display: block;
    flex-basis: 77%;
    padding-left: 0.3rem;
    border: 0.1rem solid #999;
    font-size: 0.8rem;
    line-height: 1.7rem;
    border-radius: 0.25rem;
}

.add-comment > button {
    flex-basis: 20%;
    display: block;
    width: 100%;
    border: 0.1rem solid #999;
    background-color: rgba(var(--h5f,56,151,240),1);
    color: rgba(var(--eca,255,255,255),1);
    border-radius: 0.25rem;
    cursor: pointer;
    line-height: 1.7rem;
}

.likes-container {
    flex-basis: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-counter {
    font-size: 0.8rem;
}


