.likes > p {
    font-weight: 700;
}

.activity-title {
    padding: 0.8rem 0rem 0.8rem 0rem;
    border-bottom: 0.1rem solid #999;
    text-align: center;
}

.suggest {
    padding: 1rem 0rem 1rem 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.9rem
}

.like-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



