.daily {
    min-height: 100vh;
    background-color: rgb(237, 241, 247);
}

.daily-nav {
    padding: 0.2rem 0.8rem 0rem 0.8rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #999;
    background-color: #fff;
}

.daily-logo-print {
    display: block;
    max-width: 8rem;
}

.daily > h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.daily > p {
    width: 90%;
    margin: 0rem auto 1.5rem auto;
    text-align: center;
    font-size: 0.8rem;
    color: #999;
}