.daily-nav {
    padding: 0rem 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #999;
}

.daily-logo-print {
    display: block;
    max-width: 8rem;
}

.daily > h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.daily > p {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
    color: #999;
}