
.search-img {
    display: block;
    width: 100%;
    height: auto;
}


/* .author {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

.author > img {
    display: block;
    flex-basis: 7%;
}

.author > span {
    flex-basis: 80%;
    text-align: end;
} */